p {
	color: firebrick;
	text-align: center;
	font-size: 40px;
}

.defaultHeader{
	text-align: center;
	font-size: 18px;
}

.photo {
	display: block;
	margin: 0 auto;
	width: 400px;
	height: 800x;
}

h1 {
	font-family: monospace;
	text-align: center;
	color: steelblue;
}
